@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>QuickRecipes</h1>
    <p class="lead"> Share your exlusive recipes to world. If you're looking for recipes or wanting to share your recipe ideas look no further, QuickRecipes the No1 recipe sharing social network for you. </p>
    @*<p><a href="http://asp.net" class="btn btn-primary btn-large">Learn more &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Share</h2>
        <h4>Keep your recipes online, and access them from any web browser!</h4>
        <p>
            
        </p>
        @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>Get more</h2>
        <h4>MyRecipeBook is coming soon to the iPhone and iPad!</h4>
        @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>Easy Access</h2>
        <p>You can easily find a recipe that offers the right mix of features and price for your applications.</p>
        @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>*@
</div>

<br />





<br />